<!-- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="//www.gravatar.com/avatar/{{site.author.email_md5}}?s=150" class="img-circle" />
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
    </h3>
</header>

{% if site.author.bio %}
<div id="bio" class="text-center">
	{{ site.author.bio }}
</div>
{% endif %}



<ul>
{% for category in site.categories %}
  <li>{{ category | first | capitalize}}
    <ul>
    {% for posts in category  %}
      {% for post in posts limit:6 %}
        <li><a href="{{ post.url }}">{{ post.title }} - <span style="font-size:90%;">{{ post.date | date :"%Y-%m-%d" }}</span> </a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>

<div id="contact-list" class="text-center">
	<ul class="list-unstyled list-inline">
		{% if site.author.github %}
		<li>
			<a class="btn btn-default btn-sm" href="https://github.com/{{ site.author.github }}">
				<i class="fa fa-github-alt fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.linkedin %}
		<li>
			<a class="btn btn-default btn-sm" href="https://linkedin.com/in/{{ site.author.linkedin }}">
				<i class="fa fa-linkedin fa-lg"></i>
			</a>
		</li>
		{% endif %}
		<li>
			<a class="btn btn-default btn-sm" href="{{ site.BASE_PATH }}/{{ site.rss_path }}">
				<i class="fa fa-rss fa-lg"></i>
			</a>
		</li>
	</ul>
</div>
<div id="digitalocean" >
	upload your web application to the cloud with <br /><b>1vCPU, 1GB Memory and 25Gb SSD </b><br />
	and use the server for free for <b>20 months</b> <br />
	<a href="https://m.do.co/c/3b1ae81d3d79">via DigitalOcean
	<br />
	<img src="/assets/postimages/digitalocean.png" />
	</a>
</div>
<!-- sidebar.html end -->
